/**
 ******************************************************************************
 *** TYPE ELEMENT ***
 ******************************************************************************
 *
 * Text elements.
 */


/**
 ** Settings **
 */

/**
 * Paragraph margins
 */

$base-paragraph-margins     : true !default;
$base-paragraph-margin-size : 1em !default;


/**
 * Inline and Code Blocks
 */

$base-code-tab-size         : 4 !default;
$base-code-font-size        : 90% !default;
$base-code-letter-spacing   : .05em !default;


/**
 * Global Link Element
 */

// :link, :visited states
$base-link-color            : $link-color !default;

// :hover, :focus, :active states
$base-link-color-accent     : $link-color--accent !default;

// underlined links
$base-link-text-decoration  : none !default;

// outlined links in :focus state
$base-link-outline          : none !default;


/**
 * Base typography
 */

html {
  -webkit-tap-highlight-color: transparent;
  font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5%
}

body {
  @include colors($body-color, $body-background);
  @include type($base-font-size);

  font-weight: $font-weight--normal;
}


/**
 * Type elements
 */

@if ($base-paragraph-margins == true) {
  p {
    &:not(:last-of-type) {
      margin-bottom: $base-paragraph-margin-size;
    }
  }
}


pre,
code {
  text-align: left;
  word-spacing: normal;
  word-wrap: normal;
  word-break: normal;
  tab-size: $base-code-tab-size;
  hyphens: none;
}

/**
 * Inline code
 */

code {
  @include label-base;
  @include label-variant;

  letter-spacing: $base-code-letter-spacing;
  font-size: $base-code-font-size;
}

a {
  color: $base-link-color;

  &:link,
  &:visited {
    text-decoration: $base-link-text-decoration;
  }

  &:focus {
    outline: $base-link-outline;
  }

  &:not(.c-button) {
    &:focus,
    &:hover,
    &:visited,
    &:active {
      color: $base-link-color-accent;
    }
  }
}
