/**
 ******************************************************************************
 *** PAGE ELEMENT ***
 ******************************************************************************
 *
 * Theming page related and all (*) elements.
 */


/**
 * Imports
 */

@use "../settings";


/**
 * Settings
 */

/**
 * Body colors
 *
 * Set text- and background-color to body. Turn this off if you need anything
 * else background property than background-color, like background-image.
 */

$_body-colors               : true !default;
$body-color                 : settings.$color-text !default;
$body-background-color      : settings.$color-background !default;


html {
  overflow-x: hidden;
  min-block-size: 100%;
}

body {
  min-block-size: 100vh;

  @if $_body-colors {
    color: $body-color;
    background-color: $body-background-color;
  }
}
