/**
 ******************************************************************************
 *** PAGE ELEMENT ***
 ******************************************************************************
 *
 * Theming page related and all (*) elements.
 */


/**
 * Settings
 */

/**
 * Body colors
 *
 * Set text- and background-color to body. Turn this off if you need anything
 * else background property than background-color, like background-image.
 */

$base-body-colors           : true !default;
$body-color                 : $global-color !default;
$body-background-color      : $global-background !default;


html {
  overflow-x: hidden;
  min-height: 100%;
}

body {
  min-height: 100vh;

  @if $base-body-colors == true {
    color: $body-color;
    background-color: $body-background-color;
  }
}
