/**
 ******************************************************************************
 *** TYPE ELEMENT ***
 ******************************************************************************
 *
 * Text elements.
 */


/**
 ** Settings **
 */

/**
 * Global selected text
 */

$base-selected-text             : true !default;
$base-selected-text-color       : white !default;
$base-selected-text-background  : $color-tertiary !default;


/**
 * Paragraph margins
 */

$base-paragraph-margins         : true !default;
$base-paragraph-margin-size     : 1em !default;


/**
 * Inline and Code Blocks
 */

$base-code-tab-size             : 4 !default;
$base-code-font-size            : 90% !default;
$base-code-letter-spacing       : .05em !default;


/**
 * Global Link Element
 */

// :link, :visited states
$base-link-color                : $color-primary !default;

// :hover, :focus, :active states
$base-link-color-accent         : darken($base-link-color, 15%) !default;

// underlined links
$base-link-text-decoration      : none !default;

// outlined links in :focus state
$base-link-outline              : none !default;


/**
 * Base typography
 */

html {
  -webkit-tap-highlight-color: transparent;
  font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5%
}

body {
  @include type($global-font-size);

  font-weight: $font-weight--normal;
  font-family: $global-font-family;
}


/**
 * Type elements
 */

/**
 * Styling selected text
 */

@if ($base-selected-text == true) {
  ::selection {
    @include colors($base-selected-text-color, $base-selected-text-background);
  }
}


/**
 * Paragraph Element
 */

@if ($base-paragraph-margins == true) {
  p {
    &:not(:last-of-type) {
      margin-bottom: $base-paragraph-margin-size;
    }
  }
}


/**
 * Code and Preformatted Elements
 */

pre,
code {
  text-align: left;
  word-spacing: normal;
  word-wrap: normal;
  word-break: normal;
  tab-size: $base-code-tab-size;
  hyphens: none;
}


/**
 * Global Link Element
 */

a:not([class]) {
  color: $base-link-color;

  &:link,
  &:visited {
    text-decoration: $base-link-text-decoration;
  }

  &:focus {
    outline: $base-link-outline;
  }

  &:focus,
  &:hover,
  &:visited,
  &:active {
    color: $base-link-color-accent;
  }
}
