/**
 ******************************************************************************
 *** TYPE ELEMENT ***
 ******************************************************************************
 *
 * Theming text elements.
 */

/**
 * Imports
 */
@use "sass:color";
@use "../settings";
@use "../tools";

/**
 * Settings
 */

/**
 * Global selected text
 */
$selected-text: true !default;
$selected-text-color: settings.$color-light !default;
$selected-text-background: settings.$color-primary !default;

/**
 * Paragraph margins
 */
$paragraph-margins: true !default;
$paragraph-margin-size: 1em !default;

/**
 * Inline and Code Blocks
 */
$code-tab-size: 2 !default;

/**
 * Classless typography settings
 */

// Responsive font-size
$classless-headings-fontsize: true !default;

// Heading font-family
$classless-headings-fontfamily: true !default;

// Margins and padding for ordered and ordered lists
$classless-lists-margins-paddings: true !default;

// link element (see details below)
$classless-link-element: true !default;

/**
 * Global Link Element
 */

// :link, :visited states
$link-color: settings.$color-primary !default;

// link color type @see link mixin in 2.tools/_link
$link-type: light !default;

// :visited state effect @see link mixin in 2.tools/_link
$link-visited: visited !default;

// underlined links
$link-text-decoration: none !default;

// outlined links in :focus state
$link-outline: none !default;

/**
 * Base typography
 */
html {
  -webkit-tap-highlight-color: transparent;
  font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5%
}

body {
  @include tools.type(settings.$default-font-size);

  font-family: settings.$primary-font-family;
  font-weight: 400;
}

/**
 * Type elements
 */

/**
 * Styling selected text
 */
@if $selected-text {
  ::selection {
    @include tools.colors($selected-text-color, $selected-text-background);
  }
}

/**
 * Paragraph Element
 */
@if $paragraph-margins {
  p {
    &:not(:last-child) {
      margin-block-end: $paragraph-margin-size;
    }
  }
}

/**
 * Code and Preformatted Elements
 */
code,
kbd,
pre,
samp,
var {
  text-align: start;
  word-spacing: normal;
  overflow-wrap: normal;
  word-break: normal;
  tab-size: $code-tab-size;
  hyphens: none;
}

/**
 * Global Link Element
 */
@if $classless-link-element {
  a:not([class]) {
    @include tools.link($link-color, $link-type, $link-visited, $link-text-decoration, $link-outline);
  }
}

/**
 * Default Heading
 */

@if $classless-headings-fontfamily {
  h1:not([class]),
  h2:not([class]),
  h3:not([class]),
  h4:not([class]),
  h5:not([class]),
  h6:not([class]) {
    font-family: settings.$heading-font-family;
  }
}

@if $classless-headings-fontsize {
  h1:not([class]) {
    @include tools.type(settings.$heading1-font-size);
  }

  h2:not([class]) {
    @include tools.type(settings.$heading2-font-size);
  }

  h3:not([class]) {
    @include tools.type(settings.$heading3-font-size);
  }

  h4:not([class]) {
    @include tools.type(settings.$heading4-font-size);
  }

  h5:not([class]) {
    @include tools.type(settings.$heading5-font-size);
  }

  h6:not([class]) {
    @include tools.type(settings.$heading6-font-size);
  }
}

/**
 * Global List Elements
 */
@if $classless-lists-margins-paddings {
  ul:not([class]),
  ol:not([class]),
  menu:not([class]) {
    margin-block: 1em;
    margin-inline: 0;
    padding-inline-start: 1.1em;
  }
}
