/**
 ******************************************************************************
 *** GRID OBJECT SETTINGS ***
 ******************************************************************************
 *
 * See details in 4.objects/_objects.grid.scss
 */


/**
 * Gutter Sizes
 */

$gutter--small : 2rem !default;
$gutter--medium: 3rem !default;


/**
 * Default gutters
 *
 * This setting is shared between multiple objects and utilities as the default
 * value for gutters. You can change it also locally to each module.
 *
 * @type Number | List | Map
 */

$global-gutter-default: (
  null         : $gutter--small,
  medium       : $gutter--medium
) !default;


/**
 * Additional grid gutters
 *
 * If you use additionally Container object with custom gutters
 * you have to set custom those custom gutters for Grid object too!
 *
 * You can use a nested map in case you would like to specify responsive gutter
 * sizes.
 *
 * @type Map
 *
 * @example
 *   $global-grid-gutter-extra: (
 *     large: (
 *       null : 2rem,
 *       small: 4rem
 *     )
 *   );
 */
$global-grid-gutter-extra: () !default;
