/**
 ******************************************************************************
 *** COLOR SETTINGS ***
 ******************************************************************************
 *
 * Only global color variables. Local color variables you can find in module
 * files in `3.base` or `5.components` directories.
 * Only assigned colors. You can't use any color tools here.
 */


/**
 * Color definitions
 *
 * Named colors stored as shades. If it's possible choose from these colors
 * only.
 */

$dark                 : #000 !default;
$light                : #fff !default;
$black                : #2c3e50 !default;
$blue                 : #02baf2 !default;
$green                : #2ecc71 !default;
$purple               : #a88cd5 !default;


/**
 * Global colors by functions
 *
 * Here we associate the defined named colors to functions.
 * If possible use colors by functions only.
 */

$brand                : $blue !default;
$primary              : $brand !default;
$secondary            : $green !default;
$tertiary             : $purple !default;
$text                 : $black !default;
$background           : $light !default;
