/**
 ******************************************************************************
 *** GRID SETTINGS ***
 ******************************************************************************
 */


/**
 * Gutter Sizes
 */

$gutter--small  : 2rem;
$gutter--medium : 3rem;


/**
 * Default gutters
 *
 * This setting is shared between multiple objects and utilities as the default
 * value for gutters. You can change it also locally to each module.
 *
 * @type Number | List | Map
 */

$global-gutter-default: (
  null          : $gutter--small,
  medium        : $gutter--medium
);
