/**
 ******************************************************************************
 *** VIDEO UTILITY ***
 ******************************************************************************
 *
 * Video utility to make responsive videos.
 * Images, SVGs are responsive by default!
 *
 * Based on Spectre.css
 * @author Yan Zhu <picturepan2@hotmail.com>
 * @author Krisztian Pinter <krisz@keeteean.com>
 * @link https://picturepan2.github.io/spectre/elements/media.html
 *
 * For responsive video, add a container with the `.u-video-responsive` class.
 * Insert any YouTube, Vimeo or other iframe/embed video inside the container.
 * The ratio is 16:9 by default.
 * You may add `.u-video-responsive--4-3` for 4:3 ratio video container
 * or `.u-video-responsive--1-1` for 1:1 ratio.
 *
 * @example
 *   <div class="u-video-responsive u-video-responsive--4-3">
 *     <iframe src="..." width="..." height="..." frameborder="0" allowfullscreen></iframe>
 *   </div>
 *
 * For responsive `<video>` elements, you can add the `.u-video-responsive` class directly.
 *
 * @example
 *   <video class="u-video-responsive" src="...">...</video>
 */


/**
 * Import Video Utility from Shake.sass.
 */

@import "node_modules/shake.sass/6.utilities/utilities.video";
