/**
 ******************************************************************************
 *** TEXT UTILITY ***
 ******************************************************************************
 *
 * The text utility contains helper classes for easier control text blocks.
 *
 * based on iota.css
 * @author Dimitris Psaropoulos <info@harby.me>
 * @author Krisztian Pinter <krisz@keeteean.com>
 * @link https://www.iotacss.com/docs/utilities/text
 *
 * @require {map} $global-breakpoints <1.settings/_settings.breakpoints.scss>
 * @require {string} $global-breakpoint-separator
 * <1.settings/_settings.breakpoints.scss>
 * @require {mixin} text-align <2.tools/_tools.text.scss>
 *
 *
 * Examples
 *
 * Class list
 * @example
 *   .u-text--left
 *   .u-text--right
 *   .u-text--center
 *   .u-text--justify
 *   .u-text--justify-left
 *   .u-text--justify-right
 *   .u-text--justify-center
 *
 * Enable responsive text utilities
 *
 * By enabling the responsive text utilities, you have access to a set of
 * utility classes which bind to breakpoints.
 * By default, they bind to the global breakpoints specified in
 * `1.settings/_settings.breakpoints.scss`.
 *
 * @example
 *   $utilities-text-responsive   : true;
 *
 *   <h1 class="u-text--center u-text--right@small">
 *     Heading will be aligned center on mobile and right on tablets and up.
 *   </h1>
 */


/**
 * Settings
 */

$utilities-text-responsive   : false;
$utilities-text-breakpoints  : $global-breakpoints;


/**
 * Import Text Utility from Shake.sass
 */

@import "node_modules/shake.sass/6.utilities/utilities.text";
