/**
 ******************************************************************************
 *** PAGE COMPONENT ***
 ******************************************************************************
 *
 * Theming the main layout element: Page Component.
 */


/**
 * Imports
 */
@use "../settings";
@use "../tools";


.c-page {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}
