/**
 ******************************************************************************
 *** ICON COMPONENT ***
 ******************************************************************************
 *
 * Theming SVG icons.
 * Set the stroke and fill color of the `svg.c-icon` component with
 * `currentColor` value.
 */

svg.c-icon {
  fill: currentColor;
}
