/**
 ******************************************************************************
 *** MEDIA OBJECT ***
 ******************************************************************************
 *
 * Media object is responsible for a common design pattern where there is a
 * fixed and a fluid width column next to each other. It's used to build the
 * structure of sidebars, comments, avatar and other similar UI components.
 *
 * based on iota.css
 * @author Dimitris Psaropoulos <info@harby.me>
 * @author Krisztian Pinter <krisz@keeteean.com>
 * @link https://www.iotacss.com/docs/objects/media
 *
 * @require {mixin} _generate-unit <../2.tools/libraries/_generate-unit.scss>
 *
 *
 * Examples
 *
 * Media Object
 *
 * It creates a default media object
 *
 * @example
 *   <div class="o-media">
 *     <div class="o-media__fixed">
 *       Fixed width column
 *     </div>
 *
 *     <div class="o-media__fluid">
 *       Fluid width column
 *     </div>
 *   </div>
 *
 * Media Object with responsive gutter size
 *
 * It creates a default media object with 10px gutter in mobile and 20px in
 * tablets and up.
 *
 * @example
 *   $_media-gutter-default: (
 *     null : 1rem,
 *     small: 2rem
 *   );
 *
 *   <div class="o-media">
 *     <div class="o-media__fixed">
 *       Fixed width column
 *     </div>
 *
 *     <div class="o-media__fluid">
 *       Fluid width column
 *     </div>
 *   </div>
 *
 * Media Object with extra gutter size
 *
 * It creates a new gutter size named 'small' that will have 5px gutter size.
 *
 * @example
 *   $_media-gutter-extra: (
 *     small: .5rem
 *   );
 *
 *   <div class="o-media o-media--small">
 *     <div class="o-media__fixed">
 *       Fixed width column
 *     </div>
 *
 *     <div class="o-media__fluid">
 *       Fluid width column
 *     </div>
 *   </div>
 *
 * Media Object with extra responsive gutter size
 *
 * It creates a new gutter size named 'small' that will have 5px gutter size in
 * mobiles and 10px in tablets and up.
 *
 * @example
 *   $_media-gutter-extra: (
 *     small: (
 *       null : .5rem,
 *       small: 1rem
 *     )
 *   );
 *
 *   <div class="o-media o-media--small">
 *     <div class="o-media__fixed">
 *       Fixed width column
 *     </div>
 *
 *     <div class="o-media__fluid">
 *       Fluid width column
 *     </div>
 *   </div>
 *
 * Media Object that collapses under 767px width breakpoints
 *
 * It creates a media object that will automatically collapse in two rows when a
 * max-width of 767px presents.
 *
 * @example
 * $_media-collapses-at: 767px; // This is not needed since 767px is the default
 * value $_media-responsive: true;
 *
 *   <div class="o-media o-media--responsive">
 *     <div class="o-media__fixed">
 *       Fixed width column
 *     </div>
 *
 *     <div class="o-media__fluid">
 *       Fluid width column
 *     </div>
 *   </div>
 *
 * Media object with reversed columns
 *
 * It creates a media object that has the fixed part on the right and the fluid on
 * the left.
 *
 * @example
 *   $_media-reversed: true;
 *
 *   <div class="o-media o-media--reversed">
 *     <div class="o-media__fixed">
 *       Fixed width column on the right
 *     </div>
 *
 *     <div class="o-media__fluid">
 *       Fluid width column on the left
 *     </div>
 *   </div>
 */


/**
 * Imports
 */

@use "../2.tools/libraries";
@use "../settings";


/**
 * Settings
 */

/**
 * Namespace classes
 *
 * @type String
 */

$_media-fixed                : "fixed" !default;
$_media-fluid                : "fluid" !default;
$_media-reversed            : "reversed" !default;
$_media-align-middle        : "middle" !default;
$_media-align-bottom        : "bottom" !default;
$_media-responsive          : "responsive" !default;
$_media-class-media         : "o-media" !default;
$_media-class-media-mod     : $_media-class-media + "--" !default;
$_media-class-media-fixed    : $_media-class-media + "__" + $_media-fixed !default;
$_media-class-media-fluid    : $_media-class-media + "__" + $_media-fluid !default;


/**
 * Default gutter size
 *
 * Use a number for a single size or a map for a responsive size.
 *
 * @type Number | Map
 */

$_media-gutter-default       : settings.$gutter-default !default;


/**
 * Extra gutters map
 *
 * Each gutter size will be available as a modifier that will be named according
 * to the gutter name.
 *
 * Use a map for a single size or a nested map for a responsive size.
 *
 * Example if `$_media-gutter-extra: ("compact": "10px");`
 * then `.o-media--compact` will be available for use.
 *
 * @type Map
 */

$_media-gutter-extra         : () !default;


/**
 * Reverse columns order
 *
 * Enable / Disable reversed modifier.
 *
 * .o-media--rev: Reverse columns order
 *
 * @type Boolean
 */

$_media-is-reversed          : false !default;


/**
 * Alignment
 *
 * Enable / Disable alignment modifiers.
 *
 * .o-media--middle: Align columns at middle vertically
 * .o-media--bottom: Align columns at bottom vertically.
 *
 * @type Boolean
 */

$_media-is-aligned           : false !default;


/**
 * Responsive
 *
 * Enable / Disable responsive modifier for media object.
 *
 * .o-media--responsive: Collapse fluid section bellow fixed one, at a specific
 * max-width breakpoint.
 *
 * @type Boolean
 */

$_media-is-responsive        : false !default;


/**
 * Collapsing
 *
 * Specify max-width for breakpoint to collapse at.
 *
 * @type Number
 */

$_media-collapse-at          : 47.93em !default; // 767px


.#{$_media-class-media} {
  display: flex;
  align-items: flex-start;

  & > .#{$_media-class-media-fixed} {
    @include libraries.generate-unit("padding", "inline-end", $_media-gutter-default);
  }

  & > .#{$_media-class-media-fluid} {
    flex: 1;
  }
}

// Flex Media Object Reversed
@if $_media-is-reversed == true {
  .#{$_media-class-media-mod + $_media-reversed} {
    & > .#{$_media-class-media-fixed} {
      @include libraries.generate-unit("padding", "inline-start", $_media-gutter-default);
      @include libraries.generate-unit("padding", "inline-end", 0);

      order: 1;
    }
  }
}

// Media Object Aligned
@if $_media-is-aligned == true {
  .#{$_media-class-media-mod + $_media-align-middle} {
    align-items: center;
  }

  .#{$_media-class-media-mod + $_media-align-bottom} {
    align-items: flex-end;
  }
}

// Responsive Media Object
@if $_media-is-responsive == true {
  @media screen and (max-width: $_media-collapse-at) {
    .#{$_media-class-media-mod + $_media-responsive} {
      display: block;

      & > .#{$_media-class-media-fixed},
      & > .#{$_media-class-media-fluid} {
        display: block;
        inline-size: 100%;
        padding-inline: 0;
      }

      & > .#{$_media-class-media-fixed} {
        @if $_media-is-reversed == true {
          @include libraries.generate-unit("margin", "block-start", $_media-gutter-default);
        }

        @else {
          @include libraries.generate-unit("margin", "block-end", $_media-gutter-default);
        }
      }
    }
  }
}

// Media Object Sizes
@each $media-gutter-name, $media-gutter-size in $_media-gutter-extra {
  .#{$_media-class-media-mod + $media-gutter-name} {
    // Media Object Responsive
    @if $_media-is-responsive == true {
      @media screen and (max-width: $_media-collapse-at) {
        &.#{$_media-class-media-mod + $_media-responsive} {
          display: block;

          & > .#{$_media-class-media-fixed} {
            @include libraries.generate-unit("margin", "block-end", $media-gutter-size);

            padding-inline: 0;
          }
        }
      }
    }

    // Media Object Reserved
    @if $_media-is-reversed == true {
      // Media Object Reserved with Extra Sizes
      &.#{$_media-class-media-mod + $_media-reversed} {
        @media screen and (min-width: ($_media-collapse-at + 1)) {
          & > .#{$_media-class-media-fixed} {
            @include libraries.generate-unit("padding", "inline-start", $media-gutter-size);
            @include libraries.generate-unit("padding", "inline-end", 0);
          }
        }
      }

      & > .#{$_media-class-media-fixed} {
        @include libraries.generate-unit("padding", "inline-end", $media-gutter-size);
      }

      // Media Object Reserved and Responsive with Extra Sizes
      &.#{$_media-class-media-mod + $_media-reversed + ":not(." + $_media-class-media-mod + $_media-responsive + ")"} {
        @media screen and (max-width: $_media-collapse-at) {
          & > .#{$_media-class-media-fixed} {
            @include libraries.generate-unit("padding", "inline-start", $media-gutter-size);
            @include libraries.generate-unit("padding", "inline-end", 0);
          }
        }
      }
    }
  }
}
