/**
 ******************************************************************************
 *** LABEL TOOLS ***
 ******************************************************************************
 *
 * Mixins for inline labels.
 */


/**
 * Settings
 */

$tools-label-padding            : .2rem .4rem !default;
$tools-label-border-radius      : .4rem !default;
$tools-label-line-height        : 1.2 !default;
$tools-label-color              : white !default;
$tools-label-background         : $color-tertiary !default;


/**
 * Import Label Tool from Shake.sass.
 */

@import "/node_modules/shake.sass/2.tools/tools.label";
