/**
 ******************************************************************************
 *** LABEL MIXINS ***
 ******************************************************************************
 *
 * Mixins for inline labels.
 */


/**
 * Settings
 */

$label-padding              : .2rem .4rem !default;
$label-border-radius        : .4rem !default;
$label-line-height          : 1.2 !default;
$label-color                : white !default;
$label-background           : $color-tertiary !default;


/**
 * Import Label Tool from Shake.sass.
 */

@import "/node_modules/shake.sass/2.tools/tools.label";
