/**
 ******************************************************************************
 *** FORM TOOL ***
 ******************************************************************************
 *
 * Form related mixins and functions.
 */


/**
 * Placeholder mixin
 *
 * With it you can theming input placeholders easily for any browsers.
 *
 * @example
 *  @include input-placeholder {
 *    color: grey;
 *  }
 */


/**
 * Webkit autofill mixin
 *
 * With it you can theming autofilled inputs easily.
 * You must declare the font color, other rules optionally.
 *
 * @example
 *  @include autofill($color-primary) {
 *    background: lighten($color-primary, 30%);
 *  }
 */


/**
 * Import Form Tool from Shake.sass.
 */

@import "node_modules/shake.sass/2.tools/tools.form";
