/**
 ******************************************************************************
 *** CLEARFIX TOOL ***
 ******************************************************************************
 *
 * The clearfix utility is used on elements that need to automatically clear
 * their child elements.
 *
 * based on iota.css
 * @author Dimitris Psaropoulos <info@harby.me>
 * @author Krisztian Pinter <krisz@keeteean.com>
 * @see 6.utilities/_utilities.clearfix for BEM css classed version
 *
 * Use it wherever you need it.
 *
 *
 * @example
 *   .entries {
 *     @include clearfix;
 *   }
 */


/**
 * Import Clearfix Tool from Shake.sass.
 */

@import "node_modules/shake.sass/2.tools/tools.clearfix";
