/**
 ******************************************************************************
 *** CSS TRIANGLE TOOL ***
 ******************************************************************************
 *
 * Generates a triangle pointing in a specified direction.
 *
 * Borrowed from bourbon
 * @link https://www.bourbon.io/docs/latest#triangle
 * *
 * @example
 *   .button__arrow {
 *     @include make-triangle(right, 1.5rem, 1rem, $color-secondary);
 *   }
 */


/**
 * Make Triangle mixin
 *
 * @parameter {string} $direction
 *   The direction the triangle should point. Accepts `up`, `up-right`,
 *   `right`, `down-right`, `down`, `down-left`, `left` or `up-left`.
 *
 * @parameter {number (with unit)} $width
 *   Width of the triangle.
 *
 * @parameter {number (with unit)} $height
 *   Height of the triangle.
 *
 * @parameter {color} $color
 *   Color of the triangle.
 */


/**
 * Import Css Triangle Tool from Shake.sass.
 */

@import "/node_modules/shake.sass/2.tools/tools.triangle";
