/**
 ******************************************************************************
 *** CLEARFIX UTILITY ***
 ******************************************************************************
 *
 * The clearfix utility is used on elements that need to automatically clear
 * their child elements.
 *
 * Based on iota.css.
 * @author Dimitris Psaropoulos <info@harby.me>
 * @author Krisztian Pinter <krisz@keeteean.com>
 * @link https://www.iotacss.com/docs/utilities/clearfix
 *
 * @require {mixin} %clearfix <2.tools/_clearfix.scss>
 *
 *
 * @example
 *   <div class="u-clearfix">
 *    <div>Floated item</div>
 *    <div>Floated item</div>
 *  </div>
*/

/**
 * Imports
 */
@use "../2.tools/tools.clearfix" as *;

/**
 * Clearfix Utility
 *
 * Note: for legacy reasons the `.clearfix` class is present too.
 */
.u-clearfix {
  @include clearfix;
}
