/**
 ******************************************************************************
 *** FULL WIDTH IMAGE UTILITY ***
 ******************************************************************************
 *
 * For 100% width cover-filled (mostly background) images. Apply it to a parent
 * element of img. This will be the relative item for the image.
 *
 * @require {mixin} <2.tools/_full-width-image.scss>
 *
 * @example
 *   <div class="u-full-width-image">
 *     <img class="i-am-a-cute-cover-image" src="cute-cover-image.jpg">
 *   </div>
 *
 * For Inline SVG images, need to add the `preserveAspectRatio` attribute to the
 * `<svg>` element.
 * @see https://developer.mozilla.org/en-US/docs/Web/SVG/Attribute/preserveAspectRatio
 *
 * @example
 *   <div class="u-full-width-image">
 *     <svg
 *       xmlns="http://www.w3.org/2000/svg"
 *       width="100%"
 *       height="100%"
 *       viewBox="0 0 1600 800"
 *       preserveAspectRatio="xMidYMid slice"
 *     >
 *       <rect fill="#9B00FF" width="1600" height="800" />
 *       <g fill-opacity="1">
 *         <polygon fill="#c500f5" points="800 100 0 200 0 800 1600 800 1600 200" />
 *         <polygon fill="#ea00e9" points="800 200 0 400 0 800 1600 800 1600 400" />
 *         <polygon fill="#e000b2" points="800 300 0 600 0 800 1600 800 1600 600" />
 *         <polygon fill="#d60080" points="1600 800 800 400 0 800" />
 *         <polygon fill="#cc0051" points="1280 800 800 500 320 800" />
 *         <polygon fill="#c10026" points="533.3 800 1066.7 800 800 600" />
 *         <polygon fill="#B70000" points="684.1 800 914.3 800 800 700" />
 *       </g>
 *     </svg>
 *   </div>
*/

/**
 * Imports
 */
@use "../2.tools/tools.full-width-image" as *;

/**
 * Full Width Image Utility
 */
.u-full-width-image {
  position: relative;

  img {
    @include full-width-image;
  }

  svg {
    position: absolute;
    inset: 0;
    inline-size: 100%;
    block-size: 100%;
  }
}
