/**
 ******************************************************************************
 *** VIDEO UTILITY ***
 ******************************************************************************
 *
 * Video utility to make responsive videos.
 * Images, SVGs are responsive by default!
 *
 * Based on Spectre.css
 * @author Yan Zhu <picturepan2@hotmail.com>
 * @author Krisztian Pinter <krisz@keeteean.com>
 * @link https://picturepan2.github.io/spectre/elements/media.html
 *
 * For responsive video, add a container with the `.u-video-responsive` class.
 * Insert any YouTube, Vimeo or other iframe/embed video inside the container.
 * The ratio is 16:9 by default.
 * You may add `.u-video-responsive--4-3` for 4:3 ratio video container
 * or `.u-video-responsive--1-1` for 1:1 ratio.
 *
 * @example
 *   <div class="u-video-responsive u-video-responsive--4-3">
 *     <iframe src="..." width="..." height="..." frameborder="0"
 *       allowfullscreen>
 *     </iframe>
 *   </div>
 *
 * For responsive `<video>` elements, you can add the `.u-video-responsive`
 * class directly.
 *
 * @example
 *   <video class="u-video-responsive" src="...">...</video>
 */


/**
 * Video responsive
 *
 * 1. Default ratio 16:9, you can calculate this value by dividing 9 by 16
 */

.u-video-responsive {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  padding-block: 0;
  padding-inline: 0;

  &::before {
    display: block;
    padding-block-end: 56.25%; // 1.
    content: "";
  }

  iframe,
  object,
  embed {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    border-block: 0;
    border-inline: 0;
  }
}

video.u-video-responsive {
  max-width: 100%;
  height: auto;

  &::before {
    content: none;
  }
}


/**
 * Video ratio: 4:3
 */

.u-video-responsive--4-3 {
  &::before {
    padding-block-end: 75%;
  }
}


/**
 * Video ratio: 1:1 (square)
 */

.u-video-responsive--1-1 {
  &::before {
    padding-block-end: 100%;
  }
}
