/**
 ******************************************************************************
 *** VISIBILITY UTILITY ***
 ******************************************************************************
 *
 * Control the visibility, without modifying the display, of elements with
 * visibility utilities.
 *
 * Based on iota.css.
 * @author Dimitris Psaropoulos <info@harby.me>
 * @author Krisztian Pinter <krisz@keeteean.com>
 * @link https://www.iotacss.com/docs/utilities/display
 *
 * @require {map} $global-breakpoints <1.settings/_settings.breakpoints.scss>
 * @require {string} $global-breakpoint-separator
 * <1.settings/_settings.breakpoints.scss>
 * @require {mixin} visually-hidden <2.tools/_tools.visibility.scss>
 *
 * Examples
 *
 * Class list
 * @example
 *   .u-show
 *   .u-hide
 *   .u-visually-hide
 *   .u-visually-hide--focusable
 *
 * Enable responsive visibility utilities
 *
 * By enabling the responsive visibility utilities, you have access to a set of
 * utility classes which bind to breakpoints.
 * By default, they bind to the global breakpoints specified in
 * `1.settings/_settings.breakpoints`.
 *
 * @example
 *   $utilities-visibility-responsive   : true;
 *
 *   <h1 class="u-hide@large">
 *     Heading will be hidden on larger screens.
 *   </h1>
 */

/**
 * Imports
 */
@use "../settings";
@use "../2.tools/tools.visibility" as *;

/**
 * Settings
 */
$responsive: false !default;
$breakpoints: settings.$breakpoints !default;
$breakpoint-separator: settings.$breakpoint-separator !default;

/**
 * Visibility Utilities
 */

/**
 * Show
 */
.u-show {
  visibility: visible !important;
}

/**
 * Hide
 */
.u-hide {
  visibility: hidden !important;
}

/**
 * Hide only visually
 *
 * Use visually hide utilities to hide elements on all devices except screen
 * readers.
 * Hide an element to all devices except screen readers with `.u-visually-hide`
 * class.
 *
 * @example
 *   <h1 class="page__title u-visually-hide">
 *     Page title
 *   </h1>
 */
.u-visually-hide {
  @include visually-hidden;
}

/**
 * Focusable Visually hide
 *
 * Combine `.u-visually-hide` with `.u-visually-hide--focusable` class to show
 * the element again when it’s focused (e.g. by a keyboard-only user).
 *
 * @example
 *   <a class="u-visually-hide u-visually-hide--focusable" href="#content">
 *     Skip to main content
 *   </a>
 */
.u-visually-hide--focusable {
  @include visually-hidden--focusable;
}

/**
 * Visibility Responsive Utilities
 */
@if $responsive == true {
  @each $breakpoint-name, $breakpoint-size in $breakpoints {
    @media #{$breakpoint-size} {
      .#{"u-show" + $breakpoint-separator + $breakpoint-name} {
        display: block !important;
      }

      .#{"u-visible" + $breakpoint-separator + $breakpoint-name} {
        visibility: visible !important;
      }

      .#{"u-hide" + $breakpoint-separator + $breakpoint-name} {
        display: none !important;
      }

      .#{"u-invisible" + $breakpoint-separator + $breakpoint-name} {
        visibility: hidden !important;
      }

      .#{"u-visually-hide" + $breakpoint-separator + $breakpoint-name} {
        @include visually-hidden;
      }

      .#{"u-visually-hide--focusable" + $breakpoint-separator + $breakpoint-name} {
        @include visually-hidden--focusable;
      }
    }
  }
}
