/**
 ******************************************************************************
 *** EXTRACT TYPE SIZE ***
 ******************************************************************************
 *
 * Get font-size and line-height values from $sizes type variable.
 *
 * borrowed from iota.css
 * @author Dimitris Psaropoulos <info@harby.me>
 *
 * @type Mixin
 */

/**
 * Imports
 */
@use "sass:list";

/**
 * Extract Type Sizes Mixin
 *
 * @parameter {map} $sizes - font-sizes and line-heights
 */
@mixin extract-type-sizes($sizes) {
  @if list.length($sizes) == 2 {
    font-size: list.nth($sizes, 1);
    line-height: list.nth($sizes, 2);
  } @else {
    font-size: $sizes;
  }
}
