/**
 ******************************************************************************
 *** GENERATE TYPE SIZES ***
 ******************************************************************************
 *
 * Generate responsive font-size and line-height.
 *
 * borrowed from iota.css
 * @author Dimitris Psaropoulos <info@harby.me>
 *
 * @type Mixin
 *
 * @require {Mixin} extract-type-sizes <2.tools/libraries/_extract-type-sizes.scss>
 */

/**
 * Imports
 */
@use "sass:map";
@use "sass:meta";
@use "libraries.extract-type-sizes" as validators;

/**
 * Generate Type Sizes Mixin
 *
 * @parameter {map | string} $values - font-sizes
 * @parameter {map} $breakpoints - given breakpoint map
 */
@mixin generate-type-sizes($values, $breakpoints) {
  @if meta.type-of($values) == "map" {
    @each $breakpoint, $sizes in $values {
      @if map.has-key($breakpoints, $breakpoint) {
        @media #{map.get($breakpoints, $breakpoint)} {
          @include validators.extract-type-sizes($sizes);
        }
      }
    }
  }

  @if meta.type-of($values) == "number" or meta.type-of($values) == "list" {
    @include validators.extract-type-sizes($values);
  }
}
