/**
 ******************************************************************************
 *** COLOR SETTINGS ***
 ******************************************************************************
 *
 * Only global color variables. Local color variables you can find in module
 * files in `3.base` or `5.components` directories.
 * Only assigned colors. You can't use any color tools here.
 */


/**
 * Color definitions
 *
 * Named colors stored as shades. If it's possible choose from these colors
 * only.
 */

$color-dark                 : #000 !default;
$color-light                : #fff !default;
$color-black                : #2c3e50 !default;
$color-blue                 : #02baf2 !default;
$color-green                : #2ecc71 !default;
$color-purple               : #a88cd5 !default;


/**
 * Global colors by functions
 *
 * Here we associate the defined named colors to functions.
 * If possible use colors by functions only.
 */

$color-brand                : $color-blue !default;
$color-primary              : $color-brand !default;
$color-secondary            : $color-green !default;
$color-tertiary             : $color-purple !default;
$global-color               : $color-black !default;
$global-background          : $color-light !default;
