/**
 ******************************************************************************
 *** THEMING SETTINGS ***
 ******************************************************************************
 */

/**
 * Transitions
 */
$transition-property: all !default;
$transition-timing: 0.2s !default;
$transition-easing: ease !default;
