/**
 ******************************************************************************
 *** TYPE SETTINGS ***
 ******************************************************************************
 *
 * Global typography settings:
 * - Font-family declarations
 * - Line-height declarations
 * - Font-size declarations
 */


/**
 * Font family settings
 *
 * Recommended to use only system fonts. If you need to use custom webfont you
 * can use as fallback font-stack.
 */

// System (sans-serif) font-stack
$font-family--system: -apple-system,
  system-ui,
  "BlinkMacSystemFont",
  "Segoe UI",
  "Roboto",
  "Helvetica Neue",
  "Arial",
  sans-serif,
  "Apple Color Emoji",
  "Segoe UI Emoji",
  "Segoe UI Symbol",
  "Noto Color Emoji" !default;

// Monospace font-stack: required by 3.base/_base.reset
$font-family--monospace: "SFMono-Regular",
  "Menlo",
  "Monaco",
  "Segoe UI Mono",
  "Consolas",
  "Liberation Mono",
  "Courier New",
  monospace !default;


/**
 * Font-stacks by functions
 */

$primary-font-family         : $font-family--system !default;
$heading-font-family         : $primary-font-family !default;


/**
 * Line-height
 */

$line-height         : 1.2 !default;


/**
 * Responsive font sizes
 *
 * @example
 *   breakpoint-name: ( font-size, optional-line-height )
 *
 * Breakpoint names come from $breakpoints declared in
 * `1.settings/_settings.breakpoints`.
 *
 * 'null' means no breakpoint (default)
 */

// Body (default) Font-size
// We use this to set the default font size and line-height
// for the `<body>` element in `3.base/_3.base.type`.
$default-font-size: (
  null: (
    1.4rem,
    1.6
  ),
  medium: (
    1.6rem
  )
) !default;


/**
 * Heading Font Sizes
 */

// H1 Font size
$heading1-font-size: (
  null: (
    4rem
  ),
  medium: (
    6rem
  )
) !default;

// H2 Font size
$heading2-font-size: (
  null: (
    2.7rem
  ),
  medium: (
    5.4rem
  )
) !default;

// H3 Font size
$heading3-font-size: (
  null: (
    2.4rem
  ),
  medium: (
    3.6rem
  )
) !default;

// H4 Font size
$heading4-font-size: (
  null: (
    2.1rem
  ),
  medium: (
    2.7rem
  )
) !default;

// H5 Font size
$heading5-font-size: (
  null: (
    1.8rem
  ),
  medium: (
    2.4rem
  )
) !default;

// H6 Font size
$heading6-font-size: 1.2rem !default;

// Paragraph Font Size
$paragraph-font-size: (
  null: (
    1.4rem,
    1.71
  ),
  medium: (
    1.6rem,
    2.25
  )
) !default;

// Code Font-size
$code-font-size: (
  null: (
    1.4rem,
    2
  ),
  medium: (
    1.6rem
  )
) !default;

// Form Input Font-size
$input-font-size: (
  null: (
    1.6rem,
    1.5
  ),
  medium: (
    1.6rem,
    1.2
  )
) !default;

// Form Label Font-size
$label-font-size: (
  null: (
    1.4rem,
    1.5
  ),
  medium: (
    1.4rem,
    1.2
  )
) !default;
