/**
 ******************************************************************************
 *** COLOR SETTINGS ***
 ******************************************************************************
 *
 * Global color variables. Local color variables you can find in module files
 * in `3.base` or `5.components` directories.
 * Only assigned colors. You can't use any color tools here.
 */


/**
 * Global colors
 */

$color-brand                : #02baf2 !default;
$color-primary              : $color-brand !default;
$color-secondary            : #2ecc71 !default;
$color-tertiary             : #a88cd5 !default;

$global-color               : #2c3e50 !default;
$global-background          : white !default;


/**
 * State colors
 */

$color-success              : #2ecc71 !default;
$color-warning              : #f1c40f !default;
$color-error                : #f84545 !default;
$color-note                 : #a88cd5 !default;
