/**
 ******************************************************************************
 *** THEMING SETTINGS ***
 ******************************************************************************
 */

/**
 * Transitions
 */
$global-transition-property : all !default;
$global-transition-timing   : .2s !default;
$global-transition-easing   : ease !default;
