/**
 ******************************************************************************
 *** THEMING SETTINGS ***
 ******************************************************************************
 */


/**
 * Transitions
 */

$transition-property : all !default;
$transition-timing   : .2s !default;
$transition-easing   : ease !default;
