/**
 ******************************************************************************
 *** TYPE ELEMENT ***
 ******************************************************************************
 *
 * Theming text elements.
 */


/**
 * Imports
 */

@use "sass:color";
@use "../settings";
@use "../tools";


/**
 ** Settings **
 */

/**
 * Global selected text
 */

$_selected-text             : true !default;
$_selected-text-color       : settings.$color-light !default;
$_selected-text-background  : settings.$color-tertiary !default;


/**
 * Paragraph margins
 */

$_paragraph-margins         : true !default;
$_paragraph-margin-size     : 1em !default;


/**
 * Inline and Code Blocks
 */

$_code-tab-size             : 2 !default;


/**
 * Global Link Element
 */

// :link, :visited states
$_link-color                : settings.$color-primary !default;

// link color type @see link mixin in 2.tools/_link
$_link-type                 : light !default;

// :visited state effect @see link mixin in 2.tools/_link
$_link-visited              : visited !default;

// underlined links
$_link-text-decoration      : none !default;

// outlined links in :focus state
$_link-outline              : none !default;


/**
 * Base typography
 */

/**
 * The base typography for <body> element has already been set:
 * - font-family: $global-font-family
 * - font-weight: 400
 * - font-size: $global-font-size
 */


/**
 * Import Type element from Shake.sass.
 */

@use "node_modules/shake.sass/3.base/base.type" as type;


/**
 * Theming other inline text html elements.
 */
