/**
 ******************************************************************************
 *** PAGE ELEMENT ***
 ******************************************************************************
 *
 * Theming page related and all (*) elements.
 */


/**
 * Settings
 */

/**
 * Body colors
 *
 * Set text- and background-color to body. Turn this off if you need anything
 * else background property than background-color, like background-image.
 */

$base-body-colors           : true;
$body-color                 : $global-color;
$body-background            : $global-background;


/**
 * Import Page Element from Shake.sass.
 */

@import "node_modules/shake.sass/3.base/base.page";


/**
 * Other page element related rules.
 */
