/**
 ******************************************************************************
 *** PAGE ELEMENT ***
 ******************************************************************************
 *
 * Theming page related and all (*) elements.
 */


/**
 * Imports
 */

@use "../settings";


/**
 * Settings
 */

/**
 * Body colors
 *
 * Set text- and background-color to body. Turn this off if you need anything
 * else background property than background-color, like background-image.
 */

$_body-colors               : true !default;
$body-color                 : settings.$color-text !default;
$body-background-color      : settings.$color-background !default;


/**
 * Import Page Element from Shake.sass.
 */

@use "node_modules/shake.sass/3.base/base.page" as b-page;


/**
 * Other page element related rules.
 */
