/**
 ******************************************************************************
 *** LABEL COMPONENT ***
 ******************************************************************************
 *
 * Labels are formatted text tags for highlighted, informative information.
 *
 * Based on Spectre.css
 * @author Yan Zhu <picturepan2@hotmail.com>
 * @author Krisztian Pinter <krisz@keeteean.com>
 * @link https://picturepan2.github.io/spectre/elements.html#labels
 *
 * @require {Mixin} label-base <2.tools/_tools.label.scss>
 * @require {Mixin} label-variant <2.tools/_tools.label.scss>
 *
 * Add the `c-label` class to `<span>` or `<small>` elements.
 * You can add additionally other classes, like:  `c-label--success`,
 * `c-label--warning`, `c-label--error` and `c-label--note` for colored labels.
 *
 * @example
 *   <span class="c-label">default label</span>
 *   <span class="c-label c-label--warning">warning label</span>
 */


/**
 * Settings
 */

$components-label-success-color       : white !default;
$components-label-success-background  : $color-success !default;
$components-label-warning-color       : white !default;
$components-label-warning-background  : $color-warning !default;
$components-label-error-color         : white !default;
$components-label-error-background    : $color-error !default;
$components-label-note-color          : white !default;
$components-label-note-background     : $color-note !default;


/**
 * Import Label Component from Shake.sass.
 */

@import "/node_modules/shake.sass/5.components/components.label";
