/**
 ******************************************************************************
 *** LABEL TOOLS ***
 ******************************************************************************
 *
 * Mixins for inline labels.
 */


/**
 * Settings
 */

$tools-label-padding            : .2rem .4rem !default;
$tools-label-border-radius      : .4rem !default;
$tools-label-line-height        : 1.2 !default;
$tools-label-color              : white !default;
$tools-label-background         : $color-tertiary !default;


/**
 * Label Base Mixin
 */

@mixin label-base {
  padding: $tools-label-padding;
  border-radius: $tools-label-border-radius;
  line-height: $tools-label-line-height;
}


/**
 * Label color Mixin
 *
 * @parameter {string} $color - optional foreground color
 * @parameter {string} $background - optional background color
 */

@mixin label-variant($color: rgba($tools-label-color, .8), $background: $tools-label-background) {
  color: $color;
  background: $background;
}
