/**
 ******************************************************************************
 *** VISIBILITY TOOL ***
 ******************************************************************************
 *
 * Control the visibility, without modifying the display, of elements with
 * visibility utilities.
 *
 * @see 6.utilities/_utilities.visibility.scss for BEM based class named version
 */


/**
 * Visually Hidden
 *
 * Use visually-hidden mixin to hide elements on all devices except screen
 * readers.
 *
 * borrowed from iota.css
 * @author Dimitris Psaropoulos <info@harby.me>
 * @author Krisztian Pinter <krisz@keeteean.com>
 * @link https://www.iotacss.com/docs/utilities/display
 *
 * @example
 *   .page__title {
 *     @include visually-hidden;
 *   }
 */

@mixin visually-hidden {
  clip: rect(1px 1px 1px 1px) !important; /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px) !important;
  height: 1px !important;
  overflow: hidden !important;
  position: absolute !important;
  width: 1px !important;
}


/**
 * Focusable Visually hidden
 *
 * Use in conjunction with %visually-hidden to only display content when it's focused.
 * Useful for "Skip to main content" links.
 * @see https://www.w3.org/TR/2013/NOTE-WCAG20-TECHS-20130905/G1
 *
 * borrowed from HTML5 Boilerplate
 *
 * @example
 *   .skip-navigation {
 *      @include visually-hidden;
 *      @include visually-hidden--focusable;
 *   }
 */

@mixin visually-hidden--focusable {
  &:active,
  &:focus {
    position: static !important;
    width: auto !important;
    height: auto !important;
    overflow: visible !important;
    clip: auto !important;
    white-space: normal !important;
  }
}
