/**
 ******************************************************************************
 *** TEXT TOOL ***
 ******************************************************************************
 *
 * Text block related tools
 *
 * @author Krisztian Pinter <krisz@keeteean.com>
 * @see 6.utilities/_utilities.text.scss for BEM based class named version
 */


/**
 * Text-align Mixin
 *
 * @parameter {string} $align - Align value ex.: left.
 * @parameter {string} $last - Optional, align value for justify aligned last line.
 *
 *
 * Examples
 *
 * Simple text align.
 *
 * @example
 *   .c-button {
 *     @include text-align(center);
 *   }
 *
 * Align last line of a justify text.
 *
 * @example
 *   .section__lead {
 *     @include text-align(justify, left);
 *   }
 */

@mixin text-align($align, $last: null) {
  @if ($last != null) {
    text-align: $align !important; // for Edge
    text-align-last: $last !important;
    hyphens: auto;
  }

  @else {
    text-align: $align !important;
  }
}


/**
 * Text Overflow behaviors
 *
 * Text Ellipsis
 *
 * Overflow behavior: display an ellipsis to represent clipped text.
 * Only works on single line text!
 *
 * Borrowed from Spectre.css
 * @author Yan Zhu <picturepan2@hotmail.com>
 * @author Krisztian Pinter <krisz@keeteean.com>
 * @link https://picturepan2.github.io/spectre/utilities/text.html
 *
 * @example
 *   .article__lead {
 *     @extend %text-ellipsis;
 *   }
 */

%text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


/**
 * Text Clip
 *
 * Overflow behavior: truncate the text.
 *
 * Borrowed from Spectre.css
 * @author Yan Zhu <picturepan2@hotmail.com>
 * @author Krisztian Pinter <krisz@keeteean.com>
 * @link https://picturepan2.github.io/spectre/utilities/text.html
 *
 * @example
 *   .article__lead {
 *     @extend %text-clip;
 *   }
 */

%text-clip {
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
}


/**
 * Text Break
 *
 * Text may be broken at arbitrary points.
 *
 * Borrowed from Spectre.css
 * @author Yan Zhu <picturepan2@hotmail.com>
 * @author Krisztian Pinter <krisz@keeteean.com>
 * @link https://picturepan2.github.io/spectre/utilities/text.html
 *
 * @example
 *   .article__body {
 *     @extend %text-break;
 *   }
 */

%text-break {
  hyphens: auto;
  word-break: break-word;
  word-wrap: break-word;
}
