/**
 ******************************************************************************
 *** INTERNET EXPLORER HACK TOOL ***
 ******************************************************************************
 *
 * Media query only for Microsoft Internet Explorer browsers.
 */


/**
 * Internet Explorer 10-11 mixin
 *
 * @example
 *  @include ie {
 *    overflow: visible;
 *  }
 */

@mixin ie {
  @media
    all and (-ms-high-contrast: none),
    (-ms-high-contrast: active) {
    @content;
  }
}
