/**
 ******************************************************************************
 *** CSS BOX-MODEL TOOL ***
 ******************************************************************************
 *
 * CSS Box-model-related mixins.
 *
 * @author Krisztian Pinter <krisz@keeteean.com>
 */

/**
 * Square mixin
 *
 * Use it, when you need the same width and height with square shape.
 *
 * @parameter {string} $value - Amount of desired width and height in any unit.
 *
 * @example
 *   @use "../tools";
 *
 *   @include tools.square(6rem);
 */
@mixin square($value) {
  inline-size: $value;
  block-size: $value;
}

/**
 * Circle mixin
 *
 * Use it, when you need the same width and height width circle shape.
 *
 * @parameter {string} $value - Amount of desired width and height in any unit.
 *
 * @example
 *   @use "../tools";
 *
 *   @include circle(6rem);
 */
@mixin circle($value) {
  inline-size: $value;
  block-size: $value;
  border-radius: calc($value * 0.5);
}
