/**
 ******************************************************************************
 *** FORM TOOL ***
 ******************************************************************************
 *
 * Form related mixins and functions.
 */


/**
 * Placeholder mixin
 *
 * With it you can theming input placeholders easily for any browsers.
 *
 * @example
 *  @include input-placeholder {
 *    color: grey;
 *  }
 */

@mixin input-placeholder {
  &.placeholder {
    @content;
  }

  &::-moz-placeholder {
    @content;
  }

  &::-webkit-input-placeholder {
    @content;
  }

  &:-moz-placeholder {
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }
}


/**
 * Webkit autofill mixin
 *
 * With it you can theming autofilled inputs easily.
 * You must declare the font color, other rules optionally.
 *
 * @example
 *  @include autofill($color-primary) {
 *    background: lighten($color-primary, 30%);
 *  }
 */

@mixin autofill($color) {
  &:-webkit-autofill {
    @content;

    -webkit-text-fill-color: $color;
  }
}
