/**
 ******************************************************************************
 *** VISIBILITY TOOL ***
 ******************************************************************************
 *
 * Control the visibility, without modifying the display, of elements with
 * visibility utilities.
 *
 * @see 6.utilities/_utilities.visibility.scss for BEM based class named version
 */

/**
 * Visually Hidden
 *
 * Use visually-hidden mixin to hide elements on all devices except screen
 * readers.
 *
 * borrowed from iota.css
 * @author Dimitris Psaropoulos <info@harby.me>
 * @author Krisztian Pinter <krisz@keeteean.com>
 * @link https://www.iotacss.com/docs/utilities/display
 *
 * @example
 *   @use "../tools";
 *
 *   .page__title {
 *     @include tools.visually-hidden;
 *   }
 */
@mixin visually-hidden {
  position: absolute !important;
  overflow: hidden !important;
  clip-path: rect(0.1rem, 0.1rem, 0.1rem, 0.1rem) !important;
  inline-size: 0.1rem !important;
  block-size: 0.1rem !important;
}

/**
 * Focusable Visually hidden
 *
 * Use in conjunction with `visually-hidden` to only display content when it's
 * focused.
 * Useful for "Skip to main content" links.
 * @see https://www.w3.org/TR/2013/NOTE-WCAG20-TECHS-20130905/G1
 *
 * borrowed from HTML5 Boilerplate
 *
 * @example
 *   @use "../tools";
 *
 *   .skip-navigation {
 *      @include visually-hidden;
 *      @include visually-hidden--focusable;
 *   }
 */
@mixin visually-hidden--focusable {
  &:active,
  &:focus {
    position: static !important;
    overflow: visible !important;
    clip-path: auto !important;
    inline-size: auto !important;
    block-size: auto !important;
    white-space: normal !important;
  }
}
