/**
 ******************************************************************************
 *** LABEL TOOLS ***
 ******************************************************************************
 *
 * Mixins for inline labels.
 */


/**
 * Settings
 */

$label-padding              : .2rem .4rem !default;
$label-border-radius        : .4rem !default;
$label-line-height          : 1.2 !default;
$label-color                : white !default;
$label-background           : $color-tertiary !default;


/**
 * Label Base Mixin
 */

@mixin label-base {
  padding: $label-padding;
  border-radius: $label-border-radius;
  line-height: $label-line-height;
}


/**
 * Label color Mixin
 *
 * @parameter {string} $color - optional foreground color
 * @parameter {string} $background - optional background color
 */

@mixin label-variant($color: rgba($label-color, .8), $background: $label-background) {
  color: $color;
  background: $background;
}
