/**
 ******************************************************************************
 *** FULL WIDTH IMAGE TOOL ***
 ******************************************************************************
 *
 * Apply it to an img element or use Utility version of it.
 * You will need a parent element with relative position.
 */

@mixin full-width-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
