/**
 ******************************************************************************
 *** TRANSITIONS TOOL ***
 ******************************************************************************
 *
 */

/**
 * Imports
 */

@use "../settings";

/**
 * Global transition
 *
 * @example
 *   @use "../tools";
 *
 *   .c-button {
 *     @include tools.global-transition;
 *   }
 */
@mixin global-transition(
  $property: settings.$transition-property,
  $timing: settings.$transition-timing,
  $easing: settings.$transition-easing
) {
  transition: $property $timing $easing;

  @if settings.$prefers-reduced-motion {
    @media screen and (prefers-reduced-motion: reduce) {
      transition: none;
    }
  }
}
