/**
 ******************************************************************************
 *** BREAKPOINT TOOL ***
 ******************************************************************************
 *
 * borrowed from iota.css
 * @author Dimitris Psaropoulos <info@harby.me>
 * @link https://www.iotacss.com/docs/tools/breakpoint/
 *
 * @require {map} breakpoint settings <1.settings/_settings.breakpoints.scss>
 *
 *
 * Use it wherever you need it.
 *
 * @parameter {map} $breakpoint-size
 *   Size of the breakpoint you want to use from the $breakpoint-sizes map.
 *
 * @parameter {map} $breakpoint-sizes
 *   A Sass map that contains all the breakpoints
 *
 * @example
 *   @include breakpoint($breakpoint-size, $breakpoint-sizes);
 *
 * Examples
 *
 * Using the global default settings.$breakpoints breakpoints map.
 * @example
 *   @use "../settings";
 *   @use "../tools";
 *
 *   settings.$breakpoints: (
 *     small  : "screen and (min-width: 30em)", // 480px
 *     medium : "screen and (min-width: 48px)", // 768px
 *     large  : "screen and (min-width: 64px)", // 1024px
 *     xlarge : "screen and (min-width: 75px)", // 1200px
 *     xxlarge: "screen and (min-width: 87.5px)" // 1400px
 *   );
 *
 *   .c-header {
 *      margin-right: 3rem;
 *
 *      @include tools.breakpoint(small) {
 *        margin-right: 0;
 *      }
 *   }
 *
 * Using a custom breakpoints map.
 * @example
 *   $my-breakpoints : (
 *     small  : screen and (min-width: 20em), // 320px
 *     xlarge : screen and (min-width: 80em) // 1280px
 *   );
 *
 * @example
 *   @use "../settings";
 *   @use "../tools";
 *
 *   .c-header {
 *     margin-right: 3rem;
 *
 *     @include tools.breakpoint(xlarge, settings.$my-breakpoints) {
 *       margin-right: 0;
 *     }
 *   }
 *
 * Using a custom breakpoints map without size.
 * You can use `null` value for breakpoint without size like orientation only.
 *
 * @example
 *   $portrait : (
 *     null   : screen and (orientation: portrait),
 *     small  : screen and (orientation: portrait) and (min-width: 20em), // 320px
 *     xlarge : screen and (orientation: portrait) and (min-width: 80em) // 1280px
 *   );
 *
 * @example
 *   @use "../settings";
 *   @use "../tools";
 *
 *   .c-header {
 *     margin-right: 3rem;
 *
 *     @include tools.breakpoint(settings.$portrait) {
 *       margin-right: 0;
 *     }
 *   }
 */

/**
 * Imports
 */
@use "sass:map";
@use "../settings";

/**
 * Breakpoint Mixin
 *
 * @parameter {map} $breakpoint-size
 *   Size of the breakpoint you want to use from the $breakpoint-sizes map.
 *
 * @parameter {map} $breakpoint-sizes
 *   A Sass map that contains all the breakpoints
 *
 * @example
 *   @include breakpoint($breakpoint-size, $breakpoint-sizes);
 */
@mixin breakpoint($size, $breakpoints: settings.$breakpoints) {
  $breakpoint-found: map.has-key($breakpoints, $size);

  @if $breakpoint-found == true {
    $breakpoint: map.get($breakpoints, $size);

    @media #{$breakpoint} {
      @content;
    }
  } @else {
    @if map.has-key($size, null) {
      $breakpoint: map.get($size, null);

      @media #{$breakpoint} {
        @content;
      }
    } @else {
      @warn "Breakpoint size " + #{$size} + " doesn't exist.";
    }
  }
}
